/* navigation bar start */

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: solid 0.1rem hsl(0, 0%, 0%);
}

.logo-container {
    flex: 0 0 auto;
}

.mensahe-logo {
    width: 4rem;
    height: 4rem;
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin: 0 0.625rem;
}

.nav-item-text {
    text-decoration: none;
    color: hsl(0, 0%, 0%);
}

.nav-item-text:hover,
.nav-item-text:active {
    text-decoration: underline;
}

.cta-button {
    display: block;
    width: 8rem;
    height: 3rem;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: hsl(0, 0%, 0%);
    color: hsl(0, 0%, 100%);
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.0625rem;
    text-align: center;
    line-height: 3.125rem;
    transition: transform 0.2s;
}

.cta-button:hover {
    background-color: hsl(359, 100%, 70%);
    color: hsl(0, 0%, 0%);
    transform: translateY(-0.2rem);
    -webkit-transform: translateY(-0.2rem);
    -moz-transform: translateY(-0.2rem);
    -ms-transform: translateY(-0.2rem);
    -o-transform: translateY(-0.2rem);
}

@media (max-width: 768px) {
    .nav {
        flex-direction: column;
    }

    .nav-list {
        flex-direction: column;
    }

    .nav-item {
        margin: 10px 0;
    }
}

/* navigation bar end */

/* introduction section start */

.introduction-section {
    display: flex;
    align-items: center;
    border-bottom: solid 0.1rem hsl(0, 0%, 0%);
}

.mensahe-illustration {
    width: 50%;
    order: 1;
}

.introduction-text-container {
    width: 50%;
    order: 2;
}

@media (max-width: 768px) {
    .introduction-section {
        flex-direction: column;
    }

    .mensahe-illustration {
        width: 100%;
        order: 1;
    }

    .introduction-text-container {
        width: 100%;
        order: 2;
    }
}

/* introduction section end */

/* how it works section start */

.how-it-works-section {
    border-bottom: solid 0.1rem hsl(0, 0%, 0%);
}

.how-mensahe-works-video-container {
    border-bottom: solid 0.1rem hsl(0, 0%, 0%);
}

.benefits-container {
    border-bottom: solid 0.1rem hsl(0, 0%, 0%);
    padding: 2rem;

    margin: 0 1.25rem;
}

.benefits-question-text {
    background-color: hsl(226, 100%, 75%);
    padding: 1.5rem;

    font-size: 1.5rem;
    margin: 0 0 1.25rem;
}

.benefits-product-list {
    list-style-type: none;
    background-color: hsl(50, 100%, 70%);
    padding: 0;

    margin: 0 0 1.25rem;
}

.benefits-product-list-text {
    padding: 1rem;
}

.benefits-service-list {
    background-color: hsl(359, 100%, 70%);
    padding: 0;
    margin: 0 0 1.25rem;
}

.benefits-service-list-text {
    padding: 1rem;
}

.benefits-product-list-text,
.benefits-service-list-text {
    margin: 0 0 0.625rem;
}

@media (max-width: 768px) {
    .benefits-container {
        font-size: 0.875rem;
        margin: 0 10.625rem;
    }

    .benefits-question-text {
        font-size: 1.25rem;
    }

    .benefits-product-list,
    .benefits-service-list {
        font-size: 0.875rem;
        margin: 0 0 0.625rem;
    }
}

@media (max-width: 480px) {
    .benefits-container {
        font-size: 0.75rem;
        margin: 0 0.3125rem;
    }

    .benefits-question-text {
        font-size: 1.125rem;
    }

    .benefits-product-list,
    .benefits-service-list {
        font-size: 0.75rem;
        margin: 0 0 0.3125rem;
    }
}