
/* introduction section start */

.introduction-section {
    display: flex;
    align-items: center;
    border-bottom: solid 0.1rem hsl(0, 0%, 0%);
}

/* illustration */
.mensahe-illustration {
    width: 50%;
    order: 1;
}

.introduction-text-container {
    width: 50%;
    order: 2;
}

@media (max-width: 768px) {
    .introduction-section {
        flex-direction: column;
    }

    .mensahe-illustration {
        width: 100%;
        order: 1;
    }

    .introduction-text-container {
        width: 100%;
        order: 2;
    }
}

/* introduction section end */